.advantage {
    min-height: 470px;
    background-color: #f6f6f6;
    padding-top: 70px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        margin-top: 65px;
        img {
            display: block;
            margin: 0 auto;
        }
    }
    &__subtitle {
        margin-top: 38px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        color: #0d0d0d;
    }  
    &__text {
        margin-top: 25px;
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        color: #0d0d0d;
        max-width: 243px;
        a {
            text-transform: uppercase;
            color: #f00;
            font-size: 15px;
        }
    }
}
